.header{

}

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex{
    display: flex;
}

.c_orange{
    text-decoration: orange;
    color: orange;
}

.c_blue{
    color: blue;
}

.c_aqua{
    color: rgb(22, 236, 165);
}

.c_purple{
    color: purple;
}

.space_around{
    justify-content: space-around;
}

header ul{
    list-style: none;
   
}

header li{
    padding: 10px;
}

button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    
    color: white;
}

@media screen and (max-width: 762px) {
    .header{
       display: none; 
    }
}