.header{

}

body{
    padding: 25px;
}

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    list-style: none;
   
}

header li{
    padding: 10px;
}


main{
    background-image: url(assets/bg.png);
}

.banner{
    align-items: center;
}

.banner div{
    margin: 20px;

}

.curriculam{
    text-align: center;
}
.card{
    border-radius: 10px;
    padding: 20px;
    margin: 25px;
    box-shadow:16px 16px 16px gray;
    align-items: center;
    text-align: center;
}




.ball{
    width: 35px;
    border-radius: 50%;
    background-color: orange;
    margin: 5px;
    color: white;
}
.center{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.flex{
    display: flex;
}

.c_orange{
    text-decoration: orange;
    color: orange;
}

.c_blue{
    color: blue;
}

.c_aqua{
    color: rgb(22, 236, 165);
}

.c_purple{
    color: purple;
}

.c_black{
    background-color: black;
}

.space_around{
    justify-content: space-around;
}


button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    
    color: white;
}

.g_c_blue{
    background:linear-gradient(to bottom, rgb(188, 202, 248), white);  
}

.g_c_orange{
    background: linear-gradient(to bottom, rgb(237, 214, 171), white);
}

.g_c_purple{
    background: linear-gradient(to bottom, rgb(232, 178, 231), white);
}

@media screen and (max-width: 762px) {
   
   body{
    padding: 0;
    margin: 0;
   }
    .m_hide{
       display: none; 
    
    }

    .m_border{
        
        border-bottom: solid orange ;
        padding: 5px;
    }
    .banner{
        flex-direction: column-reverse;
        padding: auto;
    }
    .banner img{
        width: 100%;
    }
    .div_card{
        flex-direction: column;
    }
}