.header{

}

body{
    padding: 25px;
}

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    background-image: url(assets/bg.png);
}

.banner{
    align-items: center;
}

.banner div{
    margin: 20px;
}

.flex{
    display: flex;
}

.c_orange{
    text-decoration: orange;
    color: orange;
}

.c_blue{
    color: blue;
}

.c_aqua{
    color: rgb(22, 236, 165);
}

.c_purple{
    color: purple;
}

.c_black{
    background-color: black;
}

.space_around{
    justify-content: space-around;
}

header ul{
    list-style: none;
   
}

header li{
    padding: 10px;
}

button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    
    color: white;
}

.card{
    border-radius: 10px;
    background-color: aqua;
    padding: 20px;
    margin: 25px;
}

@media screen and (max-width: 762px) {
   
   body{
    padding: 0;
    margin: 0;
   }
    .m_hide{
       display: none; 
    
    }

    .m_border{
        
        border-bottom: solid orange ;
        padding: 5px;
    }
    .banner{
        flex-direction: column-reverse;
        padding: auto;
    }
    .banner img{
        width: 100%;
    }
}